ul
{
    list-style:none;
    padding-left: 20px;
}

li{
    width:100%;
}

.contenedor{
    display:inline;
    vertical-align:top;  
    width:100%;
}
.main-category{
    text-align:right;
}

.default-category{
  float:right;
  position:relative;
}
.category-frame{
    max-width:500px;
    padding: 10px;
    border: 1px solid grey;
}

#nube_cat{
    
    border: 1px solid grey;
    color:white;
    max-width:100%;
    display:flex;
    flex-flow: row wrap;
}

#nube_cat span{
    border: 1px dotted blue;
    border-radius:5px;
    padding:5px;
    margin: 5px;
    background-color:#25b9d7;
}

#sincat{
    background-color:#595d5e!important;
}

/* TODO Cuando se acerque al desplegable del arbol mostrar una mano  */
input{
    cursor: pointer;
}