ul
{
    list-style:none;
    
}

li{
    width:100%;
}

.contenedor{
    display:inline;
    vertical-align:top;  
    width:100%;
}
.main-category{
    text-align:right;
}

.default-category{
 float:right;
 position:relative;
 right:50px;
 
}
.category-frame{
    max-width:500px;
}



